.Minimum-height{
    height: 90vh;
    min-height: 900px;
}
.Minimum-height2{
    min-height: 600px;
}
.Minimum-height3{
    min-height: 800px;
}
.slick-prev, .slick-next{
    display: none !important;
}